@use "black-transparent-palettes";
@use "blue-cool-palettes";
@use "blue-palettes";
@use "blue-warm-palettes";
@use "cyan-palettes";
@use "gold-palettes";
@use "gray-cool-palettes";
@use "gray-palettes";
@use "gray-warm-palettes";
@use "green-cool-palettes";
@use "green-palettes";
@use "green-warm-palettes";
@use "indigo-cool-palettes";
@use "indigo-palettes";
@use "indigo-warm-palettes";
@use "magenta-palettes";
@use "mint-cool-palettes";
@use "mint-palettes";
@use "orange-palettes";
@use "orange-warm-palettes";
@use "red-cool-palettes";
@use "red-palettes";
@use "red-warm-palettes";
@use "violet-palettes";
@use "violet-warm-palettes";
@use "white-transparent-palettes";
@use "yellow-palettes";

$tokens-color-grayscale: (
  "gray-5": $color-gray-5,
  "gray-10": $color-gray-10,
  "gray-30": $color-gray-30,
  "gray-50": $color-gray-50,
  "gray-70": $color-gray-70,
  "gray-90": $color-gray-90
);

$tokens-color-system: map-collect(
  black-transparent-palettes.$tokens-color-black-transparent,
  gray-cool-palettes.$tokens-color-gray-cool,
  gray-palettes.$tokens-color-gray,
  gray-warm-palettes.$tokens-color-gray-warm,
  blue-cool-palettes.$tokens-color-blue-cool,
  blue-palettes.$tokens-color-blue,
  blue-warm-palettes.$tokens-color-blue-warm,
  cyan-palettes.$tokens-color-cyan,
  gold-palettes.$tokens-color-gold,
  green-cool-palettes.$tokens-color-green-cool,
  green-palettes.$tokens-color-green,
  green-warm-palettes.$tokens-color-green-warm,
  indigo-cool-palettes.$tokens-color-indigo-cool,
  indigo-palettes.$tokens-color-indigo,
  indigo-warm-palettes.$tokens-color-indigo-warm,
  magenta-palettes.$tokens-color-magenta,
  mint-cool-palettes.$tokens-color-mint-cool,
  mint-palettes.$tokens-color-mint,
  orange-palettes.$tokens-color-orange,
  orange-warm-palettes.$tokens-color-orange-warm,
  red-cool-palettes.$tokens-color-red-cool,
  red-palettes.$tokens-color-red,
  red-warm-palettes.$tokens-color-red-warm,
  violet-palettes.$tokens-color-violet,
  violet-warm-palettes.$tokens-color-violet-warm,
  white-transparent-palettes.$tokens-color-white-transparent,
  yellow-palettes.$tokens-color-yellow
);

$palettes-color: (
  "palette-color":
    map-collect(
      $tokens-color-theme,
      $tokens-color-grayscale,
      $tokens-color-required,
      $tokens-color-state,
      $tokens-color-basic,
      $tokens-color-system
    ),
  "palette-color-required": $tokens-color-required,
  "palette-color-basic": $tokens-color-basic,
  "palette-color-grayscale": $tokens-color-grayscale,
  "palette-color-theme": $tokens-color-theme,
  "palette-color-state": $tokens-color-state,
  "palette-color-system": $tokens-color-system
);
