@use "add-aspect";
@use "add-list-reset";
@use "align-items";
@use "background-color";
@use "border";
@use "border-color";
@use "border-radius";
@use "border-style";
@use "border-width";
@use "bottom";
@use "box-shadow";
@use "circle";
@use "clearfix";
@use "color";
@use "cursor";
@use "display";
@use "flex";
@use "flex-direction";
@use "flex-wrap";
@use "float";
@use "font";
@use "font-family";
@use "font-feature";
@use "font-style";
@use "font-weight";
@use "height";
@use "justify-content";
@use "left";
@use "letter-spacing";
@use "line-height";
@use "margin";
@use "max-height";
@use "max-width";
@use "measure";
@use "min-height";
@use "min-width";
@use "opacity";
@use "order";
@use "outline";
@use "outline-color";
@use "overflow";
@use "padding";
@use "pin";
@use "position";
@use "right";
@use "square";
@use "text-align";
@use "text-decoration";
@use "text-decoration-color";
@use "text-indent";
@use "text-transform";
@use "top";
@use "vertical-align";
@use "whitespace";
@use "width";
@use "z-index";

// Collect all the individual utility maps
// into a single map for looping.

$utilities-package: map-collect(
  add-aspect.$add-aspect,
  add-list-reset.$add-list-reset,
  align-items.$u-align-items,
  background-color.$u-background-color,
  border.$u-border,
  border-color.$u-border-color,
  border-radius.$u-border-radius,
  border-style.$u-border-style,
  border-width.$u-border-width,
  bottom.$u-bottom,
  box-shadow.$u-box-shadow,
  circle.$u-circle,
  clearfix.$u-clearfix,
  color.$u-color,
  cursor.$u-cursor,
  display.$u-display,
  flex.$u-flex,
  flex-direction.$u-flex-direction,
  flex-wrap.$u-flex-wrap,
  float.$u-float,
  font.$u-font,
  font-family.$u-font-family,
  font-feature.$u-font-feature,
  font-style.$u-font-style,
  font-weight.$u-font-weight,
  height.$u-height,
  justify-content.$u-justify-content,
  left.$u-left,
  letter-spacing.$u-letter-spacing,
  line-height.$u-line-height,
  margin.$u-margin,
  max-height.$u-max-height,
  max-width.$u-max-width,
  measure.$u-measure,
  min-height.$u-min-height,
  min-width.$u-min-width,
  opacity.$u-opacity,
  order.$u-order,
  outline.$u-outline,
  outline-color.$u-outline-color,
  overflow.$u-overflow,
  padding.$u-padding,
  pin.$u-pin,
  position.$u-position,
  right.$u-right,
  square.$u-square,
  text-align.$u-text-align,
  text-decoration.$u-text-decoration,
  text-decoration-color.$u-text-decoration-color,
  text-indent.$u-text-indent,
  text-transform.$u-text-transform,
  top.$u-top,
  vertical-align.$u-vertical-align,
  whitespace.$u-whitespace,
  width.$u-width,
  z-index.$u-z-index
);
