@use "sass:list";
// Outputs line-height

@mixin u-line-height($value...) {
  $value: unpack($value);
  $important: null;
  @if has-important($value) {
    $value: remove($value, "!important");
    $important: " !important";
  }
  $family: list.nth($value, 1);
  $scale: list.nth($value, 2);
  line-height: lh($family, $scale) #{$important};
}
